<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Epidemic Details</title>
  </head>
  <body>
    <div>
      <h2>Patient Fever Status Over Time</h2>
      <!-- Display the first graph -->
      {{ graph1_html|safe }}
    </div>

    <div>
      <h2>Appointment Status Distribution</h2>
      <!-- Display the second graph -->
      {{ graph2_html|safe }}
    </div>

    <div>
      <h2>Symptoms Distribution Among Patients</h2>
      <!-- Display the third graph -->
      {{ graph3_html|safe }}
    </div>
  </body>
</html>
